# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:air
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:air
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        betternether:stalagnate_planks_gate
        betternether:stalagnate_planks_button
        betternether:stalagnate_planks_plate
        betternether:reeds_gate
        betternether:reeds_button
        betternether:reeds_plate
        betternether:cincinnasite_button
        betternether:bone_button
        betternether:bone_plate
        betternether:bone_reed_door
        betternether:bone_cincinnasite_door
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        forestry:fence.gates.larch
        forestry:fence.gates.fireproof.larch
        forestry:fence.gates.teak
        forestry:fence.gates.fireproof.teak
        forestry:fence.gates.acacia
        forestry:fence.gates.fireproof.acacia
        forestry:fence.gates.lime
        forestry:fence.gates.fireproof.lime
        forestry:fence.gates.chestnut
        forestry:fence.gates.fireproof.chestnut
        forestry:fence.gates.wenge
        forestry:fence.gates.fireproof.wenge
        forestry:fence.gates.baobab
        forestry:fence.gates.fireproof.baobab
        forestry:fence.gates.sequoia
        forestry:fence.gates.fireproof.sequoia
        forestry:fence.gates.kapok
        forestry:fence.gates.fireproof.kapok
        forestry:fence.gates.ebony
        forestry:fence.gates.fireproof.ebony
        forestry:fence.gates.mahogany
        forestry:fence.gates.fireproof.mahogany
        forestry:fence.gates.balsa
        forestry:fence.gates.fireproof.balsa
        forestry:fence.gates.willow
        forestry:fence.gates.fireproof.willow
        forestry:fence.gates.walnut
        forestry:fence.gates.fireproof.walnut
        forestry:fence.gates.greenheart
        forestry:fence.gates.fireproof.greenheart
        forestry:fence.gates.cherry
        forestry:fence.gates.fireproof.cherry
        forestry:fence.gates.mahoe
        forestry:fence.gates.fireproof.mahoe
        forestry:fence.gates.poplar
        forestry:fence.gates.fireproof.poplar
        forestry:fence.gates.palm
        forestry:fence.gates.fireproof.palm
        forestry:fence.gates.papaya
        forestry:fence.gates.fireproof.papaya
        forestry:fence.gates.pine
        forestry:fence.gates.fireproof.pine
        forestry:fence.gates.plum
        forestry:fence.gates.fireproof.plum
        forestry:fence.gates.maple
        forestry:fence.gates.fireproof.maple
        forestry:fence.gates.citrus
        forestry:fence.gates.fireproof.citrus
        forestry:fence.gates.giganteum
        forestry:fence.gates.fireproof.giganteum
        forestry:fence.gates.ipe
        forestry:fence.gates.fireproof.ipe
        forestry:fence.gates.padauk
        forestry:fence.gates.fireproof.padauk
        forestry:fence.gates.cocobolo
        forestry:fence.gates.fireproof.cocobolo
        forestry:fence.gates.zebrawood
        forestry:fence.gates.fireproof.zebrawood
        forestry:fence.gates.vanilla.fireproof.oak
        forestry:fence.gates.vanilla.fireproof.spruce
        forestry:fence.gates.vanilla.fireproof.birch
        forestry:fence.gates.vanilla.fireproof.jungle
        forestry:fence.gates.vanilla.fireproof.acacia
        forestry:fence.gates.vanilla.fireproof.dark_oak
        forestry:doors.larch
        forestry:doors.teak
        forestry:doors.acacia
        forestry:doors.lime
        forestry:doors.chestnut
        forestry:doors.wenge
        forestry:doors.baobab
        forestry:doors.sequoia
        forestry:doors.kapok
        forestry:doors.ebony
        forestry:doors.mahogany
        forestry:doors.balsa
        forestry:doors.willow
        forestry:doors.walnut
        forestry:doors.greenheart
        forestry:doors.cherry
        forestry:doors.mahoe
        forestry:doors.poplar
        forestry:doors.palm
        forestry:doors.papaya
        forestry:doors.pine
        forestry:doors.plum
        forestry:doors.maple
        forestry:doors.citrus
        forestry:doors.giganteum
        forestry:doors.ipe
        forestry:doors.padauk
        forestry:doors.cocobolo
        forestry:doors.zebrawood
        advgenerators:control
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        randomthings:onlinedetector
        randomthings:chatdetector
        randomthings:contactbutton
        randomthings:contactlever
        randomthings:slimecube
        randomthings:globalchatdetector
        rustic:fence_gate_olive
        rustic:fence_gate_ironwood
        rustic:olive_door
        rustic:ironwood_door
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_self_resetting_lever5i
        enderio:block_self_resetting_lever10i
        enderio:block_self_resetting_lever30i
        enderio:block_self_resetting_lever60i
        enderio:block_self_resetting_lever300i
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        botania:manadetector
        botania:endereyeblock
        botania:starfield
        botania:brewery
        botania:redstringdispenser
        botania:prism
        botania:corporeafunnel
        botania:corporeainterceptor
        botania:hourglass
        botania:sparkchanger
        botania:lightrelay
        botania:lightlauncher
        botania:cacophoniumblock
        botania:redstringinterceptor
        botania:corporearetainer
        cookingforblockheads:oven
        darkutils:update_detector
        darkutils:sneaky_lever
        darkutils:sneaky_plate
        darkutils:sneaky_button
        darkutils:timer
        erebus:door_amber
        erebus:door_petrified_wood
        erebus:umberstone_button
        erebus:liquifier
        erebus:door_baobab
        erebus:fence_gate_baobab
        erebus:door_eucalyptus
        erebus:fence_gate_eucalyptus
        erebus:door_mahogany
        erebus:fence_gate_mahogany
        erebus:door_mossbark
        erebus:fence_gate_mossbark
        erebus:door_asper
        erebus:fence_gate_asper
        erebus:door_cypress
        erebus:fence_gate_cypress
        erebus:fence_gate_balsam
        erebus:fence_gate_white
        erebus:fence_gate_bamboo
        erebus:door_rotten
        erebus:fence_gate_rotten
        erebus:door_marshwood
        erebus:fence_gate_marshwood
        erebus:door_scorched
        erebus:fence_gate_scorched
        erebus:fence_gate_varnished
        evilcraft:spiked_plate
        cfm:door_bell
        cfm:door_bell_spruce
        cfm:door_bell_birch
        cfm:door_bell_jungle
        cfm:door_bell_acacia
        cfm:door_bell_dark_oak
        integrateddynamics:menril_door
        tallgates:oak_tall_gate
        tallgates:spruce_tall_gate
        tallgates:birch_tall_gate
        tallgates:jungle_tall_gate
        tallgates:dark_oak_tall_gate
        tallgates:acacia_tall_gate
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:doorbell_simple
        cyclicmagic:button_large
        cyclicmagic:clock
        cyclicmagic:target
        cyclicmagic:password_block
        davincisvessels:crate_wood
        thebetweenlands:weedwood_plank_fence_gate
        thebetweenlands:weedwood_log_fence_gate
        thebetweenlands:rubber_tree_plank_fence_gate
        thebetweenlands:giant_root_plank_fence_gate
        thebetweenlands:hearthgrove_plank_fence_gate
        thebetweenlands:nibbletwig_plank_fence_gate
        thebetweenlands:weedwood_plank_pressure_plate
        thebetweenlands:betweenstone_pressure_plate
        thebetweenlands:syrmorite_pressure_plate
        thebetweenlands:weedwood_plank_button
        thebetweenlands:betweenstone_button
        thebetweenlands:weedwood_lever
        thebetweenlands:mud_tower_beam_origin
        thebetweenlands:mud_tower_beam_relay
        thebetweenlands:rotten_plank_fence_gate
        thebetweenlands:weedwood_door
        thebetweenlands:rubber_tree_plank_door
        thebetweenlands:giant_root_plank_door
        thebetweenlands:hearthgrove_plank_door
        thebetweenlands:nibbletwig_plank_door
        thebetweenlands:syrmorite_door
        thebetweenlands:scabyst_door
        blockcraftery:editable_door
        blockcraftery:editable_door_reinforced
        blockcraftery:editable_pressure_plate_all
        blockcraftery:editable_pressure_plate_items
        blockcraftery:editable_pressure_plate_mobs
        blockcraftery:editable_pressure_plate_player
        blockcraftery:editable_pressure_plate_all_reinforced
        blockcraftery:editable_pressure_plate_items_reinforced
        blockcraftery:editable_pressure_plate_mobs_reinforced
        blockcraftery:editable_pressure_plate_player_reinforced
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


